.footer-homePage {
     margin-top: 100px;
     background-color: rgba(239, 239, 239, 1);
     height: 300px;
     width: 100%;
     text-align: center;

     img {
          margin: 20px 40px;
          height: 100%;
          width: 83%;
     }
}